// colors
$color1: #663399;
$color2: #ff3399;
$color3: #33ff99;
$color4: #336699; 

// sizes
$tsuki-height: 11.5em;
$content-height: 15em;
$tsuki-height-mid: 23em;
$content-height-mid: 30em;

$anim-size: 3em;
$anim-size2: 1.5em;
$anim-size3: .75em;
$anim-size4: .375em;
$anim-size5: .1875em;

$shadow-size: 2em;
$shadow-size-mid: 3em;

// mixins
@mixin bg-gradient($size-1, $size-2, $size-3) {
  background-image: repeating-linear-gradient(45deg, $color1, $color2 $size-1, $color3 $size-2, $color4 $size-3)
}

@mixin moon-color($color-1, $color-2, $size) {
  box-shadow: $size $size 0 0 $color-1;
  border-color: $color-2;
}

* {
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
  animation-name: anim-bg;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  @include bg-gradient($anim-size2, $anim-size2, $anim-size);
}

#content-container {
  margin: 0 auto;
  width: $content-height;
  height: $content-height;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#content {
  width: 100%;
  height: 100%;
}

#moon-container {
  width: 100%;
  height: 100%;
}

#moon {
  position: fixed;
  border-style: solid;
  border-width: .4em;
  border-radius: 50%;
  width: $content-height;
  height: $content-height;
  left: -.4em;
  top: -.4em;
  transform: rotate(90deg);
  animation-name: anim-moon;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  @include moon-color($color1, $color2, $shadow-size);
}

#tsuki-container {
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
}

#tsuki {
  position: fixed;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 10%;
  left: 10%;
  width: $tsuki-height;
  height: $tsuki-height;
  user-select: none;
  //animation-name: anim-tsuki;
  //animation-duration: 4s;
  //animation-iteration-count: infinite;
  //animation-timing-function: ease-in-out;
}

// animations
@keyframes anim-bg {
  0% {@include bg-gradient($anim-size2, $anim-size2, $anim-size);}
  15% {@include bg-gradient($anim-size3, $anim-size2, $anim-size);}
  30% {@include bg-gradient($anim-size4, $anim-size3, $anim-size);}
  45% {@include bg-gradient($anim-size5, $anim-size4, $anim-size);}
  60% {@include bg-gradient($anim-size4, $anim-size3, $anim-size);}
  75% {@include bg-gradient($anim-size3, $anim-size2, $anim-size);}
  100% {@include bg-gradient($anim-size2, $anim-size2, $anim-size);}
}

@keyframes anim-moon {
  0% {@include moon-color($color1, $color2, $shadow-size);}
  15% {@include moon-color($color4, $color2, $shadow-size);}
  30% {@include moon-color($color1, $color2, $shadow-size);}
  45% {@include moon-color($color4, $color3, $shadow-size);}
  60% {@include moon-color($color1, $color2, $shadow-size);}
  75% {@include moon-color($color4, $color3, $shadow-size);}
  100% {@include moon-color($color1, $color2, $shadow-size);}
}

//@keyframes anim-tsuki {
//  0% {color: $color1;}
//  15% {color: $color4;}
//  30% {color: $color1;}
//  45% {color: $color4;}
//  60% {color: $color1;}
//  75% {color: $color4;}
//  100% {color:$color1;}
//}

// responsive
@media only screen and (min-device-width: 1024px) {
  #content-container {
    width: $content-height-mid;
    height: $content-height-mid;
  }

  #moon {
    height: $content-height-mid;
    width: $content-height-mid;
    border-width: .8em;
    box-shadow: 3em 3em 0 0 #663399;
    left: -.8em;
    top: -.8em;
  }

  #tsuki {
    height: $tsuki-height-mid;
    width: $tsuki-height-mid;
  }

  @keyframes anim-moon {
    0% {@include moon-color($color1, $color2, $shadow-size-mid);}
    15% {@include moon-color($color4, $color2, $shadow-size-mid);}
    30% {@include moon-color($color1, $color2, $shadow-size-mid);}
    45% {@include moon-color($color4, $color3, $shadow-size-mid);}
    60% {@include moon-color($color1, $color2, $shadow-size-mid);}
    75% {@include moon-color($color4, $color3, $shadow-size-mid);}
    100% {@include moon-color($color1, $color2, $shadow-size-mid);}
  }
}

