$bg-color: #564a61;
$fg-color: #90e3d0;
$alt-color: #151b21;
$link-color: #ffffdb;

$font: monospace;

* {
    margin: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: $bg-color;
    color: $fg-color;
}

a:link, a:visited, a:active, a:hover {
    color: $link-color;
}

.content-container {
    margin: 0 auto;
    width: 90%;
}

.cards-container {
    margin: 0 auto;
    display: block;
}

.card-container {
    margin: 2em auto;
    box-shadow: -.2em .1em 1em .1em $alt-color;
    padding-bottom: 1em;
    border-radius: .2em;
}

.header-container {
    padding: 1em 1em 0em 1em;
    text-align: center;
}

.header-text {
    font-family: $font;
    font-size: 2.2em;
    text-decoration: underline;
    user-select: none;
}

.info-container {
    padding: 1em;
}

.info-category {
    font-family: $font;
    font-size: 1.4em;
    font-weight: bold;
    text-decoration: underline;
    margin-top: .6em;
    margin-bottom: .2em;
    user-select: none;
}

.info-item {
    font-family: $font;
    font-size: 1.6em;
    word-wrap: break-word;
    user-select: all;
}

@media (min-device-width: 724px) {
    .content-container {
        width: 100%;
    }

    .cards-container {
        display: table;
    }
    
    .card-container {
        display: inline-block;
        vertical-align: top;
        margin: 2em;
    }
}
