<!-- layout.njk -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>tsuki's reference sheet</title>
    <meta name="viewport" content="wclassth=device-wclassth, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/refcard.css">
  </head>
  <body>
    <div class="content-container">
      <div class="cards-container">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </body>
</html>
