<!-- ref.njk -->

{% extends "templates/layout.njk" %}

{% block content %}
{% include "partials/contact.njk" %}
{% include "partials/work.njk" %}
{% include "partials/social.njk" %}
{% include "partials/donate.njk" %}
{% endblock %}
