<!-- contact.njk -->
{% block content %}
<div class="card-container">
  <div class="card">
    <div class="header-container">
      <div class="header">
        <span class="header-text">contact</span>
      </div>
    </div>
    <div class="info-container">
      <div class="info">
        <div class="list-container">
          <dl class="info-list">
            <dt class="info-category">pgp</dt>
            <dd class="info-item">7CE7635D22E0509A06713AFE8695B655A001BB39</dd>
            <dd class="info-item">94A1E51C6E00AB827A9880C7CABA577F78D8456B</dd>
            <dd class="info-item">4855672F81DCBB393A96AFF9A2B58F3FAE9765C8</dd>
            <dt class="info-category">email</dt>
            <dd class="info-item">tsu@keemail.me</dd>
            <dd class="info-item">abnd69@elude.in</dd>
            <dd class="info-item">cowbabe@elude.in</dd>
            <dd class="info-item">waffle@airmail.cc</dd>
            <dt class="info-category">matrix</dt>
            <dd class="info-item">ktsukik@cybre.space</dd>
            <dt class="info-category">xmpp</dt>
            <dd class="info-item">tsu@404.city</dd>
            <dt class="info-category">wire</dt>
            <dd class="info-item">tsu69</dd>
            <dt class="info-category">ssb</dt>
            <dd class="info-item">@v+rOMD19l1Mh27u62nXVlmpOfVM+WSA+IFCl9gOZbNY=.ed25519</dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
