<!-- donate.njk -->
{% block content %}
<div class="card-container">
  <div class="card">
    <div class="header-container">
      <div class="header">
        <span class="header-text">donate</span>
      </div>
    </div>
    <div class="info-container">
      <div class="info">
        <div class="list-container">
          <dl class="info-list">
            <dt class="info-category">service</dt>
            <dd class="info-item"><a href="https://paypal.me/TsuKhey">paypal</a></dd>
            <dd class="info-item"><a href="https://liberapay.com/ktsukik/donate">liberapay</a></dd>
            <dd class="info-item"><a href="https://cash.me/$thebrandnewyear">cash.me</a></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
