<!-- social.njk -->
{% block content %}
<div class="card-container">
  <div class="card">
    <div class="header-container">
      <div class="header">
        <span class="header-text">social</span>
      </div>
    </div>
    <div class="info-container">
      <div class="info">
        <div class="list-container">
          <dl class="info-list">
            <dt class="info-category">irc</dt>
            <dd class="info-item">tsuki (tilde.town)</dd>
            <dd class="info-item">ktsukik (freenode)</dd>
            <dt class="info-category">sdf</dt>
            <dd class="info-item">tsuki</dd>
            <dt class="info-category">keybase</dt>
            <dd class="info-item"><a href="https://keybase.io/ktsukik">ktsukik</a></dd>
            <dt class="info-category">pillowfort.io</dt>
            <dd class="info-item"><a href="https://pillowfort.io/tbny">tbny</a></dd>
            <dt class="info-category">twitter</dt>
            <dd class="info-item"><a href="https://twitter.com/ktsukik89">ktsukik89</a></dd>
            <dt class="info-category">reddit</dt>
            <dd class="info-item"><a href="https://reddit.com/u/ktsukik">ktsukik</a></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
