<!-- work.njk -->
{% block content %}
<div class="card-container">
  <div class="card">
    <div class="header-container">
      <div class="header">
        <span class="header-text">work</span>
      </div>
    </div>
    <div class="info-container">
      <div class="info">
        <div class="list-container">
          <dl class="info-list">
            <dt class="info-category">code</dt>
            <dd class="info-item"><a href="https://github.com/borysn">borysn | github</a></dd>
            <dd class="info-item"><a href="https://github.com/rvep">rvep | github</a></dd>
            <dd class="info-item"><a href="https://gitlab.com/ktsukik">ktsukik | gitlab</a></dd>         
            <dt class="info-category">photography</dt>
            <dd class="info-item"><a href="https://flickr.com/photos/thebrandnewyear">flickr</a></dd>
            <dd class="info-item"><a href="https://tbnyphotography.blogspot.com/">blogspot</a></dd>
            <dt class="info-category">music</dt>
            <dd class="info-item"><a href="https://soundcloud.com/borysn">soundcloud</a></dd>
            <dd class="info-item"><a href="https://myspace.com/borysn">myspace</a></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
